:root {
  --font-family-title: "Montserrat", sans-serif;
  --font-family-text: "Inter", sans-serif;

  // Small size font
  --font-size-s: 10px;
  --font-line-s: 20px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-title);

  // Medium size font
  --font-size-m: 18px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-title);

  // Large size font
  --font-size-l: 45px;
  --font-line-l: 55px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-title);

  // XLarge size font
  --font-size-xl: 75px;
  --font-line-xl: 80px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-title);

  // z - Индексы
  --modal-z-index: 1000;
  --overlay-z-index: 100;

  // Цвета
  --overlay-color: rgba(0 0 0 / 60%);
  --border: #edf2f7;
  --box-shadow: rgba(229, 229, 229, 0.7);
  --footer-bg: #EAEAEA;
  --white: #F9F9F9;
  --purple: #6359AB;
  --red: #F25D59;
}
