.ColumnListItem {
  display: flex;
  flex-direction: column;
  background: var(--column-color);
  border-radius: 10px;
  gap: 5px;
  padding: 10px;
  width: 350px;
  max-height: calc(90vh - var(--navbar-height));
  overflow-x: hidden;
  border: 1px solid var(--border);
  position: relative;

  button {
    font: var(--font-s);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font: var(--font-l);
  font-weight: 700;
}

.create {
  display: flex;
  justify-content: left;

  span {
    font-weight: 600;
    color: var( --inverted-secondary-color);
  }
}

.loader {
  position: absolute;
  top: 40%;
  right: 40%;
}