.Wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  margin-right: 5px;
  color: var(--secondary-color);
  font-weight: 600;
}

.select {
  background: none;
  outline: none;
  color: var(--primary-color);
  padding: 5px 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  width: 100%;
}

.option {
  color: var(--primary-colorcolor);
  background: var(--inverted-bg-color);
}

.readonly {
  opacity: 0.8;
}

.max {
  width: 100%;
}