.dark_theme {
  --bg-color: #1d1d26;
  --inverted-bg-color: #2c2c3b;
  --primary-color: #c49243;
  --secondary-color: #5280a2;
  --inverted-primary-color: #5bb3ee;
  --inverted-secondary-color: #7a7513;
  --column-color: #fadacc;
  --task-color: #6d9dc0;
}