.dark_theme {
  --bg-color: #1d1d26;
  --inverted-bg-color: #2c2c3b;
  --primary-color: #c49d5e;
  --secondary-color: #5bb3ee;
  --inverted-primary-color: #5bb3ee;
  --inverted-secondary-color: #361450;

  // card
  --card-bg: #272733;
}