.dark_theme {
  --bg-color: #1d1d26;
  --inverted-bg-color: #2c2c3b;
  --primary-color: #b78a41;
  --secondary-color: #335269;
  --inverted-primary-color: #5bb3ee;
  --inverted-secondary-color: #361450;
}