.app.light_theme {
  --bg-color: #c2c2de;
  --inverted-bg-color: #b1b1fa;
  --primary-color: #7a33d7;
  --secondary-color: #2f1248;
  --inverted-primary-color: #172317;
  --inverted-secondary-color: #188fd7;

  // card
  --card-bg: #d2d2ef;
}