.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  align-items: center;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
}