.ColumnsList {
  width: 100%;
  display: flex;
  gap: 25px;
  overflow: hidden;
  position: relative;
}

.suggestion,
.error {
  min-height: calc(100vh - var(--navbar-height));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  button {
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--inverted-secondary-color);
  }
}

.error {
  color: var(--error);

  span {
    font-weight: 500;
    font: var(--font-l);
  }
}

.addContainer {
  width: 100px;
  min-height: calc(80vh - var(--navbar-height));
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    font-weight: 700;
    border-radius: 50%;
  }
}

.loader {
  display: flex;
  position: absolute;
  top: 50%;
  right: 50%;
}